#
# Copyright (c) 2025 Ireh Choi
# SPDX-License-Identifier: MIT
#

config BOARD_SPLIT_HEART_LEFT
    bool "split heart left"
    depends on SOC_NRF52840_QIAA
    select BOARD_SPLIT_HEART_LEFT

config BOARD_SPLIT_HEART_RIGHT
    bool "split heart right"
    depends on SOC_NRF52840_QIAA
    select BOARD_SPLIT_HEART_RIGHT
