/*
*
* Copyright (c) 2025 IREH CHOI
* SPDX-License-Identifier: MIT
*
*/

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEFAULT 0
#define CLOSE   1
#define UPPER   2
#define LOWER   3


#define KP_MULT KP_MULTIPLY
#define KP_DIV KP_DIVIDE
#define KP_COM KP_COMMA

&lt {
    tapping-term-ms = <200>; // This is the value already set by default
};

/ {
    chosen {
        zmk,matrix_transform = &default_transform;
    };
};


/ {
    behaviors {
    };
    
    conditional_layers {
    };

    
    keymap {
        compatible = "zmk,keymap";
        
        default_layer {
            bindings = <
&kp GRAVE   &kp N1      &kp N2      &kp N3      &kp N4      &kp N5          &kp N6      &kp N7      &kp N8      &kp N9      &kp N0      &kp MINUS 
&kp TAB     &kp Q       &kp W       &kp E       &kp R       &kp T           &kp Y       &kp U       &kp I       &kp O       &kp P       &kp EQUAL
&kp LCTRL   &kp A       &kp S       &kp D       &kp F       &kp G           &kp H       &kp J       &kp K       &kp L       &kp SEMI    &kp SQT
&kp Q       &kp LSHFT   &kp Z       &kp X       &kp C       &kp V           &kp B       &kp N       &kp M       &kp DOT     &kp SLASH   &kp BSLH
                        &kp LALT    &kp LGUI                                                        &kp COMMA   &kp LANG1       
                        &kp SPACE   &lt 1 BSPC  &mo 2       &mo 3           &mo 3       &mo 2       &lt 1 ENTER &kp RSHFT
            >;
        };

        cls_layer {
            bindings = <
&kp ESC     &kp DEL     &kp KP_COM  &kp KP_DIV  &kp KP_MULT &kp BSPC        &kp N6      &kp N7      &kp F11     &kp F12     &kp N0      &kp MINUS 
&kp KP_NUM  &kp Q       &kp KP_N7   &kp KP_N8   &kp KP_N9   &kp KP_MINUS    &kp Y       &kp F7      &kp F8      &kp F9      &kp P       &kp EQUAL
&trans      &kp A       &kp KP_N4   &kp KP_N5   &kp KP_N6   &kp KP_PLUS     &kp H       &kp F4      &kp F5      &kp F6      &kp SEMI    &kp SQT
&trans      &trans      &kp KP_N1   &kp KP_N2   &kp KP_N3   &kp KP_ENTER    &kp B       &kp F1      &kp F2      &kp F3     &kp SLASH   &kp BSLH
                        &kp KP_N0   &kp KP_DOT                                                      &kp COMMA   &kp LANG1       
                        &kp BSPC    &trans      &trans      &trans          &trans      &trans      &trans      &trans 
            >;
        };


        upr_layer {
            bindings = <
&kp ESC     &kp N1      &kp N2      &kp N3      &kp N4      &kp N5          &kp N6      &kp N7      &kp N8      &kp N9      &kp N0      &kp MINUS 
&kp CAPS    &kp Q       &kp HOME    &kp UP      &kp END     &kp T           &kp Y       &kp U       &kp I       &kp O       &kp P       &kp EQUAL
&kp LCTRL   &kp A       &kp LEFT    &kp DOWN    &kp RIGHT   &kp G           &kp H       &kp J       &kp K       &kp L       &kp SEMI    &kp SQT
&kp LSHFT   &kp LALT    &kp PG_UP   &kp UP      &kp PG_DN   &kp V           &kp B       &kp N       &kp M       &kp DOT     &kp SLASH   &kp BSLH
                        &kp LGUI    &kp ENTER                                                       &kp COMMA   &kp LANG1       
                        &trans      &trans      &trans      &trans          &trans      &trans      &trans      &trans 
            >;
        };

        lwr_layer {
            bindings = <
&kp GRAVE   &kp N1      &kp N2      &kp N3      &kp N4      &kp N5          &kp N6      &kp N7      &kp N8      &kp N9      &kp N0      &kp MINUS 
&kp TAB     &kp Q       &kp W       &kp E       &kp R       &kp T           &kp Y       &kp U       &kp I       &kp O       &kp P       &kp EQUAL
&kp LCTRL   &kp A       &kp S       &kp D       &kp F       &kp G           &kp H       &kp J       &kp K       &kp L       &kp SEMI    &kp SQT
&kp LSHFT   &kp LALT    &kp Z       &kp X       &kp C       &kp V           &kp B       &kp N       &kp M       &kp DOT     &kp SLASH   &kp BSLH
                        &kp LGUI    &kp ENTER                                                       &kp COMMA   &kp LANG1       
                        &trans      &trans      &trans      &trans          &trans      &trans      &trans      &trans 
            >;
        };


    };
};
