#
# Copyright (c) 2023 The ZMK Contributors
# SPDX-License-Identifier: MIT
#

if BOARD_ARCKEYS_LEFT

config BOARD
    default "arckeys left"
    
config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif # BOARD_ARCKEYS_LEFT

if BOARD_ARCKEYS_RIGHT

config BOARD
    default "arckeys right"

endif # BOARD_ARCKEYS_RIGHT

if BOARD_ARCKEYS_LEFT || BOARD_ARCKEYS_RIGHT

config ZMK_SPLIT
    default y

config BT_CTLR
    default BT

config ZMK_KSCAN_MATRIX_WAIT_BETWEEN_OUTPUTS
    default 5

config PINCTRL
    default y

if USB

config USB_NRFX
    default y

config USB_DEVICE_STACK
    default y

endif # USB