#
# Copyright (c) 2022 Darryl deHaan
# SPDX-License-Identifier: MIT
#

if BOARD_ARCKEYS_LEFT

config ZMK_KEYBOARD_NAME
    default "Arckeys"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif # BOARD_ARCKEYS_LEFT


if BOARD_ARCKEYS_LEFT || BOARD_ARCKEYS_RIGHT

config BOARD
    default "arckeys"

config ZMK_SPLIT
    default y

config BT_CTLR
    default BT

if USB

config USB_NRFX
    default y

config USB_DEVICE_STACK
    default y

endif # USB


endif # BOARD_ARCKEYS_LEFT || BOARD_ARCKEYS_RIGHT
