#
# Copyright (c) 2024 Ireh Choi
# SPDX-License-Identifier: MIT
#

config BOARD_ARCKEYS_LEFT
    bool "arckeys left"
	depends on SOC_NRF52840

config BOARD_ARCKEYS_RIGHT
    bool "arckeys right"
	depends on SOC_NRF52840